.yt-player{
  position: relative;
  background-position: center;
  background-size: cover;
  cursor: pointer;
}

.yt-player .gradient{
  display: flex;
  padding: 2.5%;
  gap: 16px;
  height: 49px;
  width: 95%;
  position: absolute;
  background-repeat: repeat-x;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAADGCAYAAAAT+OqFAAAAdklEQVQoz42QQQ7AIAgEF/T/D+kbq/RWAlnQyyazA4aoAB4FsBSA/bFjuF1EOL7VbrIrBuusmrt4ZZORfb6ehbWdnRHEIiITaEUKa5EJqUakRSaEYBJSCY2dEstQY7AuxahwXFrvZmWl2rh4JZ07z9dLtesfNj5q0FU3A5ObbwAAAABJRU5ErkJggg==);
  transition: opacity 0.25s cubic-bezier(0, 0, 0.2, 1) 0s;
  pointer-events: none;
}

.yt-player .title{
  color: #fff;
  font-size: 18px;
}

.yt-player .logo{
  background: #ccc;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: block;
  background-position: center;
}

.yt-player .play-icon{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 68px;
  height: 48px;
  margin-left: -34px;
  margin-top: -24px;
}

.yt-player .tag{
  background: rgba(23, 23, 23, 0.8);
  color: #fff;
  height: 47px;
  width: 181px;
  font-size: 14px;
  display: flex;
  position: absolute;
  bottom: 10px;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.yt-player .tag svg{
  margin-left: 8px;
  width: fit-content;
  height: 16px;
  fill:#fff;
}

.isloadding{
  position: absolute;
  color: #fff;
  background: #0000007d;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
